@import url(https://fonts.googleapis.com/css?family=Comfortaa);
/*@import url(https://fonts.googleapis.com/css?family=Rajdhani); possibly*/
@import '_navigation';
@import '_text';
@import '_content';
@import '_colourScheme';

*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $neutral;
  margin: 0;
  padding: 0;
}

header {
  color: $dark;
  background: $dark url(../images/logo.svg) no-repeat center;
  background-size: contain;

  h1 {
    display: inline-block;
    padding: 0 20px;

    margin-left: 45px;
    margin-bottom: 0;
    color: $neutral;
  }
}

pre,
code,
kbd,
samp,
tt{
  font-family: monospace,monospace;
  font-size: 1em;
}

footer {
  color: $dark;
  display: block;
  background: $neutral url(../images/reactjs.png) no-repeat right;
  background-size: contain;
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

section {
 padding: 20px;
}

table {
  width: 100%;
}
